*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "matter";
}
body
{
    height: 100%;
    width: 100%;
    position: relative;
    scroll-behavior: smooth;
}
.ball
{
    height: 10px;
    width: 10px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top:0px;
    left:0px;
    transition:0.09s;
}
.ball2
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    top:30px;
    left: 1330;
}
.navbar
{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h2
{
    margin-left: 120px;
}

.menu
{
    display: flex;
    height: 60px;
    width: 120px;
    justify-content: space-around;
    align-items: center;
    margin-right: 100px;
    /* border: 1px solid; */

}

.menu span
{
    font-size: 22px;
    font-family: "matter"
}
.icon1
{
    font-size:25px;
    margin-top: 8px;
    padding: 10px;
    position: fixed;
    top:25px;
    right: 70px;
    /* border: 1px solid; */
}
.icon2
{
    color: white;
    z-index: 2;
}
.hero-sec
{
    height: 80vh;
    width: 100%;
}
.text
{
    display: inline;
    font-size: 133px;
    font-weight: 200;
    margin-left: 20px;
}
.first-line
{
    margin: 30px 0 0 100px;
}
.second-line
{
    height: 130px;
    margin-left: 130px;
    align-items: center;
}
.third-line
{
    margin: -20px 0 0 100px;
}
.text1
{
    font-style: italic;
    font-weight:lighter;
}
.first-video
{
    height: 122px;
    width: 178px;
    border-radius:50px;
    object-fit: cover;
}

.full-video
{
    /* height: 100vh; */
    width: 100%;
}
.mid
{
    height: 100vh;
    width: 100%;
    display: flex;
}

#leftv
{
    height: 500px;
    width: 500px;
    margin: 150px;
}
.right p
{
    height: 142px;
    width: 555px;
    font-size: 33px;
    margin-top: 200px;
}

.btn
{
    height: 210px;
    width: 470px;
    border: 1px solid;
    font-size:25px;
    background-color: white;
    border-radius:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    transition: 2s;
}
.btn2
{
    height: 210px;
    width: 470px;
    border: 1px solid;
    font-size:25px;
    background-color: white;
    /* border-radius:100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 80px; */
    transition: 2s;
    display: none;
}

.elements-div
{
    height:min-content;
    width: 100%;
    background-color: black;
    border-top-right-radius:100px;
    border-top-left-radius:100px;
}
.f1-elem
{
    height: 640px;
    width: 480px;
    border-radius:40px ;
    margin: 200px 0 0 200px;
}
.f2-elem
{
    height:640px;
    width: 480px;
    margin: -200px 0 0 700px;
    /* border-radius: 40px; */
}

.first-p
{
    font-size: 28px;
    /* font-weight: bold; */
    color: white;
    margin: 20px 0 0 200px;
}